**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/.next
**/.env
**/.env.local
**/.env.prod
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/venv
**/env
**/.venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.coverage
**/.coverage.*
**/htmlcov
**/.tox
**/.pytest_cache
**/.mypy_cache
**/db.sqlite3
**/media
**/static
**/*.log
**/Thumbs.db
**/.DS_Store